<!DOCTYPE html>
<html>
<%- partial('awe/head') %>
<body>
  <div class="main-container">
    <%- partial('awe/header-profile') %>
    <%- body %>
  </div>
  <%- partial('awe/footer') %>
  <%- partial('awe/after_all') %>
</body>
</html>
